In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

# data_folder = Path("/")
# p = data_folder.glob('**/*')
# files = [x for x in p if x.is_file()]

In [49]:
df = pd.read_csv("ESG fields populated - input.csv")
sample = df.head()
sample.columns

Index(['Unnamed: 0', 'Firms', 'Firms_OLD', 'PERMNO', 'Platform', 'Date',
       'formatted date', 'Channel/show', 'Removed ads', 'Google search term',
       'Popularity', 'fyear', 'Poll rating', 'Offensiveness ratings',
       'Removing ads from entire platform', 'Political', 'Social', 'Generic',
       'Individual', 'Racially charged', 'Misogynistic', 'Religious',
       'Anti LGBT', 'Offensive in terms of societal norms',
       'Conspiracy theories', 'Anti immigrant', 'Terrorist content',
       'searchDate', 'Resource Use', 'Emissions', 'Innovation', 'Workforce',
       'Human rights', 'Community', 'Product responsibility', 'Management',
       'Shareholders', 'CSR strategy', 'Industry average', 'Pending'],
      dtype='object')

In [3]:
def populate_years_and_values(xls, sheet_name, term):
    sheet = pd.read_excel(xls, sheet_name)
    for i in sheet.index:
        sheet_resource = []
        if term in str(sheet[sheet_name][i]):
            sheet_year = sheet.loc[0,].tolist()
            sheet_resource = sheet.loc[i,].tolist()
            years = get_years(sheet_year)
            values = get_values(sheet_resource)
            df = pd.DataFrame(list(zip(years, values)), columns =['Year', 'Value'])
            break
    return df

In [55]:
company = "Apollo"
year = 2017
val = [0]*10
year = str(year)
try:
    xls = pd.ExcelFile('Firms ESG/' + company + '.xlsx')
except FileNotFoundError:
    print("FileNotFoundError")
resource = populate_years_and_values(xls, 'Environment', "Resource Use")
resource["Year"] = [int(str(resource["Year"][i])) for i in resource["Year"].index] 
#resource = resource.set_index('Year').T.to_dict('list')
#resource = {key:val[0] for key, val in resource.items() if val != ['0'] }

if year in resource["Year"]:
    print("None")

else:
    print(type(int("0")))
    print(type(resource["Year"][0]))
#     print(findClosest(resource["Year"], len(resource["Year"]), year))

<class 'int'>
<class 'numpy.int64'>

In [4]:
def is_number(string):
    try:
        float(string)
        return True
    except ValueError:
        return False

In [5]:
def get_average_closest(d, target):
    years = []
    for k,v in d.items():
        years.append(k)
    if not years:
        return 0
    elif(len(years) == 1):
        return d[years[0]]
    elif(len(years) == 2):
        return (d[years[0]] + d[years[1]])/2
    elif(years[0] < target):
            return (d[years[0]] + d[years[1]])/2
    elif(years[-1] > target):
            return (d[years[-1]] + d[years[-2]])/2
    else:
        val1 = min(years, key=lambda x:abs(x-target))
        years.remove(val1)
        val2 = min(years, key=lambda x:abs(x-target))
        return (d[val1] + d[val2])/2

In [6]:
# env_resource[1:5]
# env_year[1:5]
def get_years(sheet_year):
    years = list(dict.fromkeys(sheet_year))
    years = [item for item in years if str(item) != 'nan']
    return years

def get_values(sheet_resource):
    values = []
    for i in range(1, len(sheet_resource)): 
        if i % 2 == 0: 
            values.append(sheet_resource[i])
            

#     values = [item if str(item) != 'nan' if '--' in str(item) '0' for item in values ]
    values = [item if str(item) != 'nan' else '0' for item in values]
    values = [str(sub).replace('--', '0') for sub in values] 
    return values

In [38]:
from numbers import Number
def populate_df_for_csv(company, year):
    val = [0]*11
    year = str(year)
    try:
        xls = pd.ExcelFile('Firms ESG/' + company + '.xlsx')
    except FileNotFoundError:
        return val

    #env worksheet
    resource = populate_years_and_values(xls, 'Environment', "Resource Use")
    emission = populate_years_and_values(xls, 'Environment', "Emissions")
    innovation = populate_years_and_values(xls, 'Environment', "Innovation")

    #soc worksheet
    workforce = populate_years_and_values(xls, 'Social', "Workforce")
    human_rights = populate_years_and_values(xls, 'Social', "Human Rights")
    community = populate_years_and_values(xls, 'Social', "Community")
    product_responsibility = populate_years_and_values(xls, 'Social', "Product Responsibility")

    #gov worksheet
    management = populate_years_and_values(xls, 'Governance', "Management")
    shareholders = populate_years_and_values(xls, 'Governance', "Shareholders")
    csr_strategy = populate_years_and_values(xls, 'Governance', "CSR Strategy")


    x = 0
    resourceVal = {}
    emissionVal = {}
    innovationVal = {}
    workforceVal = {}
    human_rightsVal = {}
    communityVal = {}
    product_responsibilityVal = {}
    managementVal = {}
    shareholdersVal = {}
    csr_strategyVal = {}
    
    for i in resource['Year'].index:
        if year in str(resource['Year'][i]):
            val[x] = (str(resource['Value'][i]))
#         print(val[x])
        if(is_number(resource['Value'][i]) and resource['Value'][i] != '0'):
            resourceVal[resource['Year'][i]] = float(resource['Value'][i])

    x += 1
    for i in emission['Year'].index:
        if year in str(emission['Year'][i]):
            val[x] = (str(emission['Value'][i]))
#         print(val[x])
        if(is_number(emission['Value'][i]) and emission['Value'][i] != '0'):
            emissionVal[emission['Year'][i]] = float(emission['Value'][i])

    x += 1
    for i in innovation['Year'].index:
        if year in str(innovation['Year'][i]):
            val[x] = (str(innovation['Value'][i]))
        if(is_number(innovation['Value'][i]) and innovation['Value'][i] != '0'):
            innovationVal[innovation['Year'][i]] =float(innovation['Value'][i])

    x += 1
    for i in workforce['Year'].index:
        if year in str(workforce['Year'][i]):
            val[x] = (str(workforce['Value'][i]))
#         print(val[x])
        if(is_number(workforce['Value'][i]) and workforce['Value'][i] != '0'):
            workforceVal[workforce['Year'][i]] = float(workforce['Value'][i])

    x += 1
    for i in human_rights['Year'].index:
        if year in str(human_rights['Year'][i]):
            val[x] = (str(human_rights['Value'][i]))
#         print(val[x])
        if(is_number(human_rights['Value'][i]) and human_rights['Value'][i] !='0'):
            human_rightsVal[human_rights['Year'][i]] = float(human_rights['Value'][i])

    x += 1
    for i in community['Year'].index:
        if year in str(community['Year'][i]):
            val[x] = (str(community['Value'][i]))
#         print(val[x])
        if(is_number(community['Value'][i]) and community['Value'][i] !='0'):
            communityVal[community['Year'][i]] = float(community['Value'][i])

    x += 1
    for i in product_responsibility['Year'].index:
        if year in str(product_responsibility['Year'][i]):
            val[x] = (str(product_responsibility['Value'][i]))
#         print(val[x])
        if(is_number(product_responsibility['Value'][i]) and product_responsibility['Value'][i] != '0'):
            product_responsibilityVal[product_responsibility['Year'][i]] = float(product_responsibility['Value'][i])

    x += 1
    for i in management['Year'].index:
        if year in str(management['Year'][i]):
            val[x] = (str(management['Value'][i]))
#         print(val[x])
        if(is_number(management['Value'][i]) and management['Value'][i] != '0'):
            managementVal[management['Year'][i]] = float(management['Value'][i])

    x += 1
    for i in shareholders['Year'].index:
        if year in str(shareholders['Year'][i]):
            val[x] = (str(shareholders['Value'][i]))
#         print(val[x])
        if(is_number(shareholders['Value'][i]) and shareholders['Value'][i] != '0'):
            shareholdersVal[shareholders['Year'][i]] = float(shareholders['Value'][i])

    x += 1
    for i in csr_strategy['Year'].index:
        if year in str(csr_strategy['Year'][i]):
            val[x] = (str(csr_strategy['Value'][i]))
#         print(val[x])
        if(is_number(csr_strategy['Value'][i]) and csr_strategy['Value'][i] != '0'):
            csr_strategyVal[csr_strategy['Year'][i]] = float(csr_strategy['Value'][i])
            
    x += 1
    val[x] = '0'
            
    
    if(all(v == '0' for v in val)):
        val[0] = get_average_closest(resourceVal, int(year))
        val[1] = get_average_closest(emissionVal, int(year))
        val[2] = get_average_closest(innovationVal, int(year))
        val[3] = get_average_closest(workforceVal, int(year))
        val[4] = get_average_closest(human_rightsVal, int(year))
        val[5] = get_average_closest(communityVal, int(year))
        val[6] = get_average_closest(product_responsibilityVal, int(year))
        val[7] = get_average_closest(managementVal, int(year))
        val[8] = get_average_closest(shareholdersVal, int(year))
        val[9] = get_average_closest(csr_strategyVal, int(year))
        val[10] = '1'
            

    return val

In [39]:
company = "1800PETMEDS"
year = 2009
result = populate_df_for_csv(company, year)
print(result)
year = 2010
result2 = populate_df_for_csv(company, year)
result2

[8.7, 0, 0, 5.51, 0, 28.66, 44.485, 65.08, 51.5, 0, '1']

[8.7, 0, 0, 5.51, 0, 28.66, 44.485, 65.08, 51.5, 0, '1']

In [40]:
sample[['Firms', 'fyear', 'Resource Use', 'Emissions', 'Innovation', 'Workforce',
       'Human rights', 'Community', 'Product responsibility', 'Management',
       'Shareholders', 'CSR strategy', 'Industry average', 'Pending']]
sample.columns

Index(['Unnamed: 0', 'Firms', 'Firms_OLD', 'PERMNO', 'Platform', 'Date',
       'formatted date', 'Channel/show', 'Removed ads', 'Google search term',
       'Popularity', 'fyear', 'Poll rating', 'Offensiveness ratings',
       'Removing ads from entire platform', 'Political', 'Social', 'Generic',
       'Individual', 'Racially charged', 'Misogynistic', 'Religious',
       'Anti LGBT', 'Offensive in terms of societal norms',
       'Conspiracy theories', 'Anti immigrant', 'Terrorist content',
       'searchDate', 'Resource Use', 'Emissions', 'Innovation', 'Workforce',
       'Human rights', 'Community', 'Product responsibility', 'Management',
       'Shareholders', 'CSR strategy', 'Industry average', 'Pending'],
      dtype='object')

In [53]:
# output_esg_columns - Copy
for i in range(len(df)):
    values = []
    company = df['Firms'][i]
    year = df['fyear'][i]
    values = populate_df_for_csv(company, year)
    labels = []
    for j in range(11):
        df.iloc[i,j+28] = values[j]         
            
        
#     values = []
#     values = get_values_populate(dfc.iloc[i,1], dfc.iloc[i,11])
#     for j in range(10) :
#         dfc.iloc[i, j+28] = values[j]

In [42]:
df.to_csv("ESG fields populated - output.csv", index = False)

In [54]:
df[['Firms', 'fyear', 'Resource Use', 'Emissions', 'Innovation', 'Workforce',
       'Human rights', 'Community', 'Product responsibility', 'Management',
       'Shareholders', 'CSR strategy', 'Industry average', 'Pending']].head(10)

,Firms,fyear,Resource Use,Emissions,Innovation,Workforce,Human rights,Community,Product responsibility,Management,Shareholders,CSR strategy,Industry average,Pending
0,1800PETMEDS,2010,8.7,0,0,5.51,0,28.66,44.485,65.08,51.5,0,1,NaN
1,1800PETMEDS,2009,8.7,0,0,5.51,0,28.66,44.485,65.08,51.5,0,1,NaN
2,20th Century Fox,2009,70.83,77.27,0,6.11,0,67.78,30.36,9.71,75.8,69.53,0,NaN
3,20th Century Fox,2018,59.2,94.64,50,12.91,0.75,66.89,34.5,77.81,51.4,45.98,0,NaN
4,20th Century Fox,2018,59.2,94.64,50,12.91,0.75,66.89,34.5,77.81,51.4,45.98,0,NaN
5,3M,2010,98.15,64.81,87.5,95.71,71.88,98.57,90.74,89.46,65.7,89.2,0,NaN
6,3M,2016,95.59,75.71,74.19,94.05,94.44,94.05,98.68,86.68,51.9,95.69,0,NaN
7,8x8,2019,0,0,0,37.5,0,38.16,17.69,32.77,51.7,0,0,NaN
8,Abbvie,2018,85.11,75.79,8,96.21,87.7,91.16,90.05,52.36,51.4,73.89,0,NaN
9,Accountemps,2016,0,0,0,0,0,0,0,0,0,0,0,NaN

In [3]:
df = pd.read_csv("ESG fields populated - output.csv")

In [14]:
p = ['Capella university',
'National American University',
'eFax',
'eFax Corporate',
'Freedom',
'Coldwell Banker',
'Corcoran Group',
'SQUARE ONE',
'Avalon Communities',
'SmartStopSelfStorage',]

def remove_spaces_make_lower(strings):
    return ("".join(strings.split())).lower()

p = [remove_spaces_make_lower(item) for item in p]
p

['capellauniversity',
 'nationalamericanuniversity',
 'efax',
 'efaxcorporate',
 'freedom',
 'coldwellbanker',
 'corcorangroup',
 'squareone',
 'avaloncommunities',
 'smartstopselfstorage']

In [37]:
for i in df["Firms"].index:
    cleaned = remove_spaces_make_lower(df["Firms"][i])
    if(cleaned in p):
        df["Pending"][i] = 1
    else:
        df["Pending"][i] = 0

<ipython-input-37-78b88bb0fe4a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Pending"][i] = 0
<ipython-input-37-78b88bb0fe4a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Pending"][i] = 1

In [38]:
df["Pending"] = df["Pending"].astype(int)

In [39]:
df.head()

,Unnamed: 0,Firms,Firms_OLD,PERMNO,Platform,Date,formatted date,Channel/show,Removed ads,Google search term,...,Innovation,Workforce,Human rights,Community,Product responsibility,Management,Shareholders,CSR strategy,Industry average,Pending
0,112,1800PETMEDS,1800PETMEDS,90012,Fox News,15-Apr-10,4/15/2010,Glenn Beck,No,Glenn Beck,...,0,5.51,0,28.66,44.485,65.08,51.5,0,1,0
1,56,1800PETMEDS,1800PETMEDS,90012,Fox News,27-Aug-09,8/27/2009,Glenn Beck,No,Glenn Beck,...,0,5.51,0,28.66,44.485,65.08,51.5,0,1,0
2,59,20th Century Fox,20th Century Fox,90441,Fox News,28-Aug-09,8/28/2009,Glenn Beck,No,Glenn Beck,...,0,6.11,0,67.78,30.36,9.71,75.8,69.53,0,0
3,617,20th Century Fox,20th Century Fox,90441,Youtube,3-Mar-18,3/3/2018,Infowars,Yes,Infowars,...,50,12.91,0.75,66.89,34.5,77.81,51.4,45.98,0,0
4,662,20th Century Fox,20th Century Fox,90441,TBS,1-Jun-18,6/1/2018,Samantha Bee,No,Samantha Bee,...,50,12.91,0.75,66.89,34.5,77.81,51.4,45.98,0,0

In [68]:
master_df = pd.read_excel('masterfile_sep24.xlsx')
master_df.head()

,Firms,permno,Date,Date.1,fyear,ESG record found,Firm name in the Eikon,C2,C3
0,Verizon,65875,2007-03-05,2007-03-05,2007,Yes,NaN,NaN,NaN
1,Sallie Mae,66325,2007-03-05,2007-03-05,2007,Yes,NaN,NaN,NaN
2,General Motors,12369,2007-04-12,2007-04-12,2007,Yes,NaN,NaN,NaN
3,Sprint,14040,2007-04-12,2007-04-12,2007,Yes,NaN,NaN,NaN
4,Proctor & Gamble,18163,2007-04-12,2007-04-12,2007,Yes,NaN,NaN,NaN

In [71]:
company = []
parent = []
competition1 = []
competition2 = []
competition3 = []
for ind in master_df["Firm name in the Eikon"].index:
    if(str(master_df["Firm name in the Eikon"][ind]) != 'nan'):
        if(str(master_df["C2"][ind]) == 'nan' and str(master_df["C3"][ind]) == 'nan'):
            company.append(master_df["Firms"][ind])
            parent.append(master_df["Firm name in the Eikon"][ind])
            competition1.append("0")
            competition2.append("0")
            competition3.append("0")
        elif(str(master_df["C2"][ind]) != 'nan' and str(master_df["C3"][ind]) == 'nan'):
            company.append(master_df["Firms"][ind])
            parent.append("0")
            competition1.append(master_df["Firm name in the Eikon"][ind])
            competition2.append(master_df["C2"][ind])
            competition3.append("0")
        elif(str(master_df["C2"][ind]) != 'nan' and str(master_df["C3"][ind]) != 'nan'):
            company.append(master_df["Firms"][ind])
            parent.append("0")
            competition1.append(master_df["Firm name in the Eikon"][ind])
            competition2.append(master_df["C2"][ind])
            competition3.append(master_df["C3"][ind])
master_list = pd.DataFrame(list(zip(company, parent, competition1, competition2, competition3)), 
               columns =['Company', 'Parent', 'C1', 'C2', 'C3']) 
master_list

,Company,Parent,C1,C2,C3
0,Office Depot,0,Home Depot,Lowes,Best Buy
1,Men's Wearhouse,Tailored brands,0,0,0
2,BroadView security,0,Securitas AB,Sohgo Securities,0
3,Carbonite,0,IBM,Microsoft,Nutanix
4,Liberty Medical,0,UnitedHealth Group,Abbott Labs,Thermo Fisher
...,...,...,...,...,...
327,Jack Black Men's Skincare,Edgewell Personal Care,0,0,0
328,Venetian,Las Vegas Sands,0,0,0
329,Showtime,Viacom,0,0,0
330,FARM Rio Oficial,Urban outfitters,0,0,0
331,Berkshire Hathaway HomeServices,Berkshire Hathaway,0,0,0